body{
    background-color: rgb(0, 0, 0);
    color: rgba(60, 231, 60, 0.842);
    
    background-attachment: fixed;

}
.post{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px 2px 20px 5px;
    border: 4px solid rgba(15, 62, 219, 0.931);
    background-color: rgb(53, 71, 92);
    box-shadow:0 0 10px rgb(255, 0, 43);
    transition: 0.4s;
}
.post:hover{
    transform: rotate(-5deg) scale(1,1.1);
    background-color: olive;
}



.topbar{
    background-color: royalblue;
    height: 270px;

}

.login{
    width: 330px;
    height: auto;
    background: rgb(158, 214, 85);
    margin: auto;
    margin-top: -150px;
    border: 1px solid blueviolet;
    box-shadow: 0 0 10px rbga(0,0,0,1);
    text-align: center; 
    border-radius: 20px;
    padding: 10px;
    transition: 2s;
    transform: scale(0.5,0.5);
}
.login:hover{
transform: scale(1,1);
}
.login input{
    margin: auto;
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 15px;
    width: 60%;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 1px dashed rgb(31, 27, 4);

}
.login h1{
    color: rgb(41, 85, 85);
    

}
.login button{
    float: right;
    margin-right: 60px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid darkorchid;
    border-radius: 5px;
}